img#dtek-logo {
    height: 250px;
    margin-top: 20px;

}

.slider-bg {
    height: 400px;
    background-color: #333333;
    position: fixed;
    top: 220;
    left: 0;
    right: 0;
    z-index: -1;
}

.fake-slider {
    height: 400px;
    width: 960px;
    margin: 0px auto;
    background-image: url('../images/fake-slider-1.jpg');
}

.menu {
    margin-top: 150px;
    font-size: 3rem;
    font-weight: 200;
}

.menu-item {
    display: inline;
}