img#dtek-logo {
    position: relative;
    height: 250px;
    top: 20px;
}

.slider-bg {
    height: 400px;
    width: 100vw;
    position: relative;
    left: calc((960px - 100vw)/2);
    z-index: -1;
    background-color: #333333;
}

.fake-slider {
    height: 400px;
    width: 960px;
    margin: 0px auto;
    background-image: url('../images/fake-slider-1.jpg');
}

.menu {
    margin-top: 150px;
    font-size: 3rem;
    font-weight: 200;
}

.menu-item {
    display: inline;
}