<section class="newssection">
	<article class="short-news">
	<header>
		<h4>Utrota kontanter</h4>
		<h6>av Styret 2015-04-11</h6>
	</header>
	<p>Sektionsstyrelsen har beslutat att i möjligaste mån göra sektionen kontantfri. Bakgrunden till detta är att alla stora banker idag fasar ut sin kontanthantering, vilket gör det oerhört svårt för sektionen att både sätta in och ta ut kontanter.</p><p> Denna utveckling har lett till att sektionsstyrelsen valt att köpa in dosor från iZettle, för att möjliggöra kortbetalning på sektionens alla arrangemang.</p>
	<a href="#" class="button">Visa hela</a>
</article>
<article class="short-news">
	<header>
		<h4>Styret informerar</h4>
		<h6>av Lenin 2015-05-11</h6>
	</header>
	<p>På kvällens sektionsmöte bjöds det bland annat på lite avrapporteringar från sektionsföreningarna, lite motioner och en trevlig kycklinggryta signerad D6! DAF ombildades till en intresseförening med inval och mandatperiod och Ståthållarämbetet erhöll (något förvånande) lite pengar till ett studiesocialt arrangemang! Rappa diskussioner och underhållande inlägg genomsyrade kvällen. Tack ni som kom, boka redan nu in tisdagen den 31/3, då det är dags för invalsmöte 1 av 2, där bland annat Presidie, DAG, SND och mycket annat väljs in. Väl mött där!</p>
	</article>
</section>
