<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datateknologsektionen Chalmers</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600,200" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/mall.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">

    <script src="/js/jquery-1.11.0.js"></script>

    <script src="/js/react.js"></script>
    <script src="/js/react-bootstrap.js"></script>
  </head>
  <body>
      <div class="container">
          <!-- HEADER + NAVBAR -->
          <div class="row">
            <div class="twelve columns u-full-width header">
              <img src="images/logo.png" id="dtek-logo" class="u-pull-left" alt="Loggan">
                  <div id="login">
                <form>
                  <input class="" placeholder="E-post / CID" id="exampleEmailInput" type="email" >
                  <input class="" placeholder="Lösenord" id="examplePasswordInput" type="password">

                  <label class="example-send-yourself-copy">
                <input type="checkbox">
                <span class="label-body">Kom ihåg mig</span>
                  </label>
                  <input class="button-primary" value="Logga in" type="submit">
                </form>
              </div>

              <!-- To be rendered by react -->
              <div id="navbar"> </div>

            </div>
          </div>

          <!-- SLIDER -->
          <div class="row">
            <div class="fake-slider"></div>
          </div>

          <div class="row">
            <!-- MAIN CONTENT FROM VIEW -->
            <div class="eight columns">
              <%= yield%>
            </div>

            <!-- SIDEBAR -->
            <div class="four columns">
              <aside id="main-sidebar">
                <section id="booking">
                  <header><img src="images/minibuss.png" class="u-pull-left bus-icon" height="28px"><h5>Boka databussen</h5></header>
                  <p>Status: Upptagen 13.00 - 17.00</p>
                  <a href="#" class="button">Till bokningen »</a>
                </section>
                <hr>
                    <section id="lunch">
                      <header><h5>Dagens lunch</h5></header>
                      <p class="sidebar-small-header">Linsen</p>
                      <p>Ingen lunch idag</p>
                      <p class="sidebar-small-header">Kårrestaurangen</p>
                      <p>Veckans soppa: Broccoli- &amp; palsternackssoppa, smulad Kvibille gräddädel</p>
                </section>
                    <hr>
                <section class="links">
                  <header><h5>Bra länkar</h5></header>
                  <ul>
                <li><a href="http://dtek.se/wiki">DTEK wiki</a></li>
                <li><a href="http://hagesjo.se">Hagesjo.se</a></li>
                <li><a href="http://www.cbc.chalmers.se/">Chalmers Ballong Corps</a></li>
                  </ul>
                </section>
                <hr>
                <section class="links">
                  <header><h5>Sammarbetspartner</h5></header>
                  <img src="images/rotarypub-logga.png" width="250">
                </section>
              </aside>
            </div>

          </div>
      </div>

      <script src="/js/navbar.js"></script>
  </body>
</html>
